/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.logo img {
    max-width: 100px; /* Pas de maximale breedte aan op basis van je ontwerp */
    height: auto;
}

/* Container styling */
.container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

/* Form styling */
form {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form select {
    height: 40px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Footer styling */
footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Links styling */
a {
    color: #007BFF;
    text-decoration: none;
}

/* Navigation styling */
nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(229, 229, 229);
    transition: 0.5s ease;
}
